/* - - -  GLOBAL VARIABLES - - - */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/background-image-brown-desert.jpg");
}

.uppercase_titles {
  font-family: "Heavitas", sans-serif;
  letter-spacing: 2px;
}

.text_font {
  font-family: "Playfair Display", serif;
}

main {
  width: 1200px;
  margin-left: 15%;
  margin-right: 15%;
}

/* - - - FIRST HEADER - - - */

.first_header {
  margin-top: 20%;
  text-align: center;
}

.first_header h1 {
  font-size: 4em;
}

.first_header p {
  font-size: 1.3em;
}

.first_header h2 {
  display: inline-block;
  font-size: 1.9em;
  border: solid 5px black;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 5%;
  transition: 0.8s;
}

.first_header h2:hover {
  transition: 0.2s;
  border-color: antiquewhite;
  color:antiquewhite;
}

.first_header i {
  font-size: 1.5em;
  border: solid 3px black;
  padding: 10px 13px 10px 13px;
  border-radius: 50%;
}

.top_article_blog_img {
  width: 100%;
}

/* - - - SECOND HEADER - - - */

.second_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.second_header_buttons:nth-of-type(1) { 
  flex-grow: 1;
}

.second_header_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.second_header_first_button {
  display: inline-block;
  width: 60%;
  font-size: 16px;
  border: 0px;
  padding: 20px;
  color: black;
  background-color: white;
}

.second_header_first_button:hover {
    color: darkcyan;
}

.second_header_second_button,
.second_header_third_button {
  display: inline-block;
  font-size: 16px;
  border: 0px;
  padding: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.second_header_second_button {
  width: 50%;
  transition: 0.2s;
}

.second_header_second_button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.second_header_third_button {
  width: 37%;
}

.second_header_third_button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.second_header_empty_div {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.2);
}

.social_networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7em;
  width: 20%;
  color: black;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.social_networks i {
  transition: 0.5s;
}

.social_networks i:hover {
  color: rgba(36, 145, 145, 0.741);
}

/* - - - END SECOND HEADER - - - */

/* - - - TOP ARTICLE BLOG - - - */

.blog_articles {
  background-color: white;
}

.top_article_blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.5em;
}

.top_article_blog time {
  font-size: 1.25em;
  padding: 40px;
}

.top_article_blog_time_decoration {
  background-color: gray;
  height: 2px;
  width: 25em;
  opacity: 0.2;
}

.top_article_blog_full_time_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.top_article_blog {
  width: 100%;
}

.top_article_blog h1 {
  font-size: xx-large;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;

}

.top_article_blog p {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  margin-bottom: 30px;
}

.top_article_blog img {
  width: 100%;
  height: 110%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 40px;
  transition: transform 0.4s;
  
}

.top_article_blog img:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.top_article_blog button {
  width: 15%;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: transparent;
  font-family: "Heavitas", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s;
}

.top_article_blog button:hover {
  cursor: pointer;
  color: rgb(19, 208, 208);
  border-color: rgb(19, 208, 208);
  transition: 0.2s;
}

/* - - - END TOP ARTICLE BLOG - - - */

/* - - - NEWS ARTICLES BLOG - - - */

.news_articles_blog {
  display: flex;
  flex-direction: column;
}

article img {
  width: 85%;
  transition: 0.4s;
}

article img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.article_first_line, .article_second_line, .article_third_line {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article h2 {
  font-family: "Heavitas", sans-serif;
  letter-spacing: 5px;
}

article p {
  font-family: "Playfair Display", serif;
  text-align: justify;
  padding: 1em 2em;
  letter-spacing: 2px;
  width: 95%;
}

article button {
  width: 25%;
  padding: 1em 1em;
  background-color: transparent;
  font-family: "Heavitas", sans-serif;
  letter-spacing: 1px;
}

 button:hover {
  cursor: pointer;
  color: rgb(19, 208, 208);
  border-color: rgb(19, 208, 208);
  transition: 0.2s;
}

.article_first_line article {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(165, 165, 165);
  padding: 5em 1em;
  align-items: center;
}

.article_second_line article {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(165, 165, 165);
  padding: 5em 1em;
  align-items: center;
}

.article_third_line article {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(165, 165, 165);
  padding: 5em 1em;
  align-items: center;
}

/* - - - END NEWS ARTICLES BLOG - - - */

/* - - - PAGE NAV - - - */

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li button {
  padding: 1em 1.5em;
  margin-bottom: 4em;
}

ul li div {
  padding: 0.75em 1.5em;
  margin-bottom: 3.45em;
}

li button {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  background-color: transparent;
  border: 1.5px solid rgb(165, 165, 165);
}

/* - - - END PAGE NAV - - - */




